.presentation{
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}
.presentation span{
    color: orange;
}
.presentation .text{
    width: 40%;
    margin-left: 20px;
}
.text h2{
    font-size: 2.5rem;
}
.text div{
    display: flex;
    align-items: center;
}
.text div button{
    width: 35px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 10px 0 0;
    margin-right: 10px;
    transform: rotate(90deg);
}
.text div button i{
    font-size: 1.2rem;
    transform: rotate(45deg);
}
.presentation .image{
    width: 60%;
}
.presentation .image img{
    width: 80%;
    max-width: 450px;
}



@media (max-width: 700px) {
    .presentation{
        width: 100%;
        flex-direction: column-reverse;
    }
    .presentation .text{
        width: 100%;
    }
    .text h2{
        font-size: 1.5rem;
    }
    .presentation .image{
        width: 100%;
    }
    .presentation .image img{
        width: 100%;
    }
}